.itemContainer {
    width: 80%;
    display: flex;
    justify-content: space-around;
    border: solid 1px black;
    margin: 3px 0;

    div {
        font-size: 15px;
        padding: 10px 0;
        width: 16%;
        text-align: center;
        margin: auto;
    }

    :first-child {
        text-align: left;
    }

    img {
        height: 25px;
        cursor: pointer;
    }
}